name: {{ ms.name }}
app: {{ ms.app }}
replicaCount: {{ ms.replicaCount }}

image:
  repository: {{ ms.image.repository }}
  tag: {{ ms.image.tag[env] }}

service:
  type: {{ ms.service.type }}
  port: {{ ms.service.port }}
  nodePort: {{ ms.service.nodePorts[env] }}

{% if ms.folder == 'backend' %}
secrets: {{ ms.secrets }}
{% endif %}

